<footer class="global-footer">
  <p>
    &copy; <%= new Date().getFullYear() %> Mason Sabin &mdash;
    <a href="https://github.com/sabinMas/contact-me" target="_blank">View on GitHub</a>
  </p>
</footer>
