<nav class="global-nav">
  <div class="nav-logo">
    <a href="/">Mason Sabin</a>
  </div>
  <ul class="nav-links">
    ><a href="/">Home</a></li>
    ><a href="/contact">Contact</a></li>
    ><a href="/admin">Admin</a></li>
    ><a href="https://github.com/sabinMas" target="_blank">GitHub</a></li>
    ><a href="https://linkedin.com/in/mason-sabin" target="_blank">LinkedIn</a></li>
  </ul>
</nav>
