*{
    box-sizing: border-box;
    color:darkolivegreen;
}

body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:darkolivegreen;
    margin:20px;
    padding: 0;
}
main{
    background-color:rgb(244, 244, 252);
    padding:20px;
    border-radius:10px;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;
    max-width: 2000px;
}
h1{
    text-align:center;
}
legend, label{
    font-weight:bold;
}

.info-grid{
    display:grid;
    grid-template-columns: 120px 1fr 120px 1fr 120px 1fr;
    align-items:center;
    gap: .5rem .8rem;
}
.info-grid input{
    width:fill;
    padding: .4rem;
}
.meet-box{
    align-items:center;
    width: 100%;

}

textarea{
    width: 100%;
    height: 3rem;

}
.email-format{
    display:inline-block;
}
.input-error{
    color: red;
    font-style: italic;
}