<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style/styles.css"/>
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico"/>
    <script src="/js/contact-me.js" defer></script>
    <title>Connect with me!</title>
</head>
<body>
    <main>
        <h1>Connect with me!</h1>
        <form id="contact-me-form" action="#" method="get>
            

    




    
         </form>
    </main>
</body>
</html>